
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log

.env


backend/__pycache__/
backend/*.pyc
backend/venv/
backend/env/

backend/uploads/*
!backend/uploads/.gitkeep

frontend/node_modules/
frontend/dist/
frontend/.output/
frontend/.nuxt/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

backend/my_model/
redis-data/